body{
    background-color: #f1f1f1;
}

.btnPerso:hover{
    transform: scale(0.98);
}
.bg_white{
    background-color: #fff;
}
.erreur{
    color: red;
    font-style: italic;
    font-size: 16px;
}
