body{
    background-color: #f1f1f1;
}

.btnPerso:hover{
    transform: scale(0.98);
}
.bg_white{
    background-color: #fff;
}
/* .erreur{
    margin-top: 10px;
    color: red;
    font-style: italic;
    font-size: 16px;
}
.msgSuccess{
    margin-top: 10px;
    color: green;
    font-style: italic;
    font-size: 16px;
} */
/* .nav_btn{
    box-shadow: 0 0 6px rgba(0, 0, 255, 0.5)!important;
    border-radius: 8px;

} */
